/* ====== 01-settings #COLORS ====== */
/* ====== 01-settings #FONTS ====== */
@font-face {
  font-family: montserrat;
  src: url(font/Montserrat-Regular.ttf);
}
@font-face {
  font-family: openSans;
  src: url(font/OpenSans-Light.ttf);
}
/* 32 / 16 */
/* 28 / 16 */
/* 24 / 16 */
/* 20 / 16 */
/* 18 / 16 */
/* 16 / 16 */
/* ====== 01-settings #RESPONSIVE - breakpoints ====== */
/*  576 / 16 */
/*  768 / 16 */
/*  992 / 16 */
/* 1200 / 16 */
/* ====== 02-tools #MIXINS ====== */
/* ====== 03-generic #reset ====== */
/* Remove margins and padding. */
body,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
pre,
dl,
dd,
ol,
ul,
figure,
hr,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

/* Remove trailing margins from nested lists. */
li > ol,
li > ul {
  margin-bottom: 0;
}

/* Remove the gap between audio, canvas, iframes, images, videos and the bottom */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* Remove default border on fieldsets and Reset Chrome and Firefox behaviour which sets a `min-width: min-content;` on fieldsets. */
fieldset {
  border: 0;
  /* [1] */
  min-width: 0;
  /* [2] */
}

/* Remove default table spacing. */
table {
  border-collapse: collapse;
}

/* ====== 03-generic #SHARED ====== */
html {
  height: 100%;
}

/* ====== Media Queries ====== */
@media only screen and (min-width: 75em) {
  .main {
    max-width: 75em;
  }
}
/* ====== Overall page ====== */
body {
  background-color: #FAFAFA;
  overflow-x: hidden;
}

.main {
  margin-right: auto;
  margin-left: auto;
  overflow-x: hidden;
  padding: 0 15px;
  scroll-behavior: smooth;
}

h1 {
  font-family: montserrat, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 4rem;
  color: #E5E5E5;
  text-transform: uppercase;
}

h2 {
  font-family: montserrat, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 3rem;
  color: #202e36;
  text-transform: uppercase;
}

h3 {
  font-family: montserrat, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.5rem;
  color: #202e36;
  text-transform: uppercase;
}

h4 {
  font-family: openSans, Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  color: #E5E5E5;
  font-weight: 100;
}

p {
  font-family: openSans, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #5C5C5C;
  line-height: 1.7;
}
p .bold {
  font-weight: 700;
}

li {
  font-family: openSans, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #5C5C5C;
  line-height: 1.7;
}

/* ====== Intro page ====== */
.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: ". right";
  height: 100vh;
}
.intro .background-color {
  position: absolute;
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  left: 0;
}
.intro .intro__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  margin-left: 5%;
}
.intro .intro__content {
  z-index: 1;
  grid-area: right;
  align-self: center;
}
.intro .intro__content h4 {
  margin-top: 2rem;
}
.intro .intro__content .intro__links {
  margin-top: 2rem;
}
.intro .intro__content .telegram {
  width: 60px;
  margin-left: 1rem;
  cursor: pointer;
}
.intro .intro__content .telegram:hover {
  fill: #b2b2b2;
}
.intro .intro__content .intro__link {
  text-decoration: none;
  color: #5C5C5C;
  font-size: 1rem;
  font-family: Montserrat, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #E5E5E5;
  padding: 15px 40px;
  border-radius: 5px;
}
.intro .intro__content .intro__link:hover {
  background-color: #b2b2b2;
  color: #292929;
}
@media only screen and (max-width: 62em) {
  .intro {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". right right";
  }
  .intro .intro__image {
    filter: brightness(30%);
  }
}
@media only screen and (max-width: 36em) {
  .intro {
    grid-template-columns: 1fr;
    grid-template-areas: "right";
    text-align: center;
  }
}

/* ====== Information page ====== */
.information {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "what what where";
  grid-gap: 6rem;
  margin-top: 6rem;
}
.information .information__what {
  grid-area: what;
}
.information .information__what p {
  margin-top: 1rem;
}
.information .information__what h3 {
  margin-top: 2rem;
}
.information .information__what .information__when {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-top: 2rem;
}
.information .information__what .information__when div {
  background-color: #202e36;
  border-radius: 5px;
  padding: 1rem;
}
.information .information__what .information__when p {
  color: #E5E5E5;
}
.information .information__where {
  display: grid;
  grid-area: where;
}
.information .information__where .information__itemswrapper {
  display: grid;
  grid-auto-rows: 1fr;
}
.information .information__where .information__items {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 1rem;
}
.information .information__where .information__items img {
  width: 100%;
  border-radius: 5px;
}
@media only screen and (max-width: 62em) {
  .information {
    grid-template-columns: 1fr;
    grid-template-areas: "what" "where";
  }
  .information .information__where {
    grid-gap: 1em;
  }
  .information .information__where .information__items {
    grid-template-columns: 1fr 10fr;
  }
}
@media only screen and (max-width: 36em) {
  .information .information__what .information__when {
    grid-template-columns: 1fr 1fr;
  }
  .information .information__where .information__items {
    grid-template-columns: 1fr 5fr;
  }
}

/* ====== competitors page ====== */
.competitors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #202e36;
  margin-top: 6rem;
  border-radius: 5px;
}
.competitors h2 {
  color: #E5E5E5;
  text-align: center;
  margin-top: 3rem;
}
.competitors img {
  max-width: 75em;
  width: 100%;
  align-self: center;
}
@media only screen and (max-width: 36em) {
  .competitors h2 {
    font-size: 1.5rem;
  }
}

/* ====== attend page ====== */
.attend {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "how now";
  grid-gap: 6rem;
  margin-top: 6rem;
}
.attend .attend__how p, .attend .attend__how li {
  margin-top: 1rem;
}
.attend .attend__how li {
  margin-left: 3rem;
}
.attend .attend__now .hidden {
  display: none;
}
.attend .attend__now p {
  margin-top: 1rem;
}
.attend .attend__now .submit-to-google-sheet {
  display: flex;
  flex-direction: column;
}
.attend .attend__now .submit-to-google-sheet .submit__input {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  border: 2px solid #202e36;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 5px;
}
.attend .attend__now .submit-to-google-sheet .submit__input label {
  text-decoration: none;
  color: #5C5C5C;
  font-size: 1rem;
  font-family: Montserrat, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 1rem;
  border-bottom: 1px solid #202e36;
}
.attend .attend__now .submit-to-google-sheet .submit__input input {
  border: 0px;
  padding: 1rem;
}
.attend .attend__now .submit-to-google-sheet button {
  margin-top: 2rem;
  background-color: #202e36;
  padding: 15px 40px;
  border: 0;
  border-radius: 5px;
  font-size: 1.25rem;
  font-family: Montserrat, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
  color: #E5E5E5;
  cursor: pointer;
}
.attend .attend__now .submit-to-google-sheet button:hover {
  background-color: #767676;
}
@media only screen and (max-width: 62em) {
  .attend {
    grid-template-columns: 1fr;
    grid-template-areas: "how" "now";
  }
}

/* ====== footer page ====== */
.footer {
  margin-top: 6em;
  position: absolute;
  width: 100vw;
  background-color: #202e36;
  left: 0;
  padding: 1em 0;
}
.footer p {
  margin: 1em 0;
  text-align: center;
  color: #E5E5E5;
}
@media only screen and (max-width: 36em) {
  .footer p {
    margin: 1em;
  }
}

/*# sourceMappingURL=style.css.map */
